/*
    Folha de estilo site
    @author Caio Damaceno Pinheiro Cavagnolli
*/

/* Smastphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* Smastphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body{
background-color:aquamarine;
}
}

/* tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body{
background-color:blueviolet;
}
}

/* tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){
    body{
background-color:brown;
}
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){
    body{
background-color:darkgoldenrod;
}
}


/*
body{
background-color:#AAAAAA;
}
*/